<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>AI RP Chat</title>
    <link rel="stylesheet" href="/static/data/global-layout.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, interactive-widget=resizes-content"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="../static/favicons/favicon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="../static/favicons/favicon-64x64.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../static/favicons/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="../static/favicons/android-chrome-512x512.png"
    />
    <link rel="manifest" href="../static/favicons/site.webmanifest" />
  </head>
  <body class="bg-dark text-light flex flex-col items-center ov-fy-auto">
    <main id="app" class="flex flex-col items-center w-full h-full">
     <header id="app-header">
      <h1 class="text-center text-lg mt-10">AI RP Chat</h1>
     </header>
      

   <article id="home-page">
     <section id="hero">
      <div class="hero-content">
        <h1>Wyrusz na swoją tekstową przygodę fantasy</h1>
        <p>
          Zanurz się w świat nieskończonych możliwości dzięki naszej opartej na
          sztucznej inteligencji grze RPG z czatem w roli głównej. <br />Stwórz swoją postać, wybierz
          swoją ścieżkę i przeżyj wyjątkową, narracyjną podróż.
        </p>
        <a href="#" class="button-base cta-button">Rozpocznij swoją przygodę już teraz</a>
      </div>
    </section>

    <section id="features">
      <h2>Kluczowe funkcje</h2>
      <div class="feature-list">
        <div class="feature">
          <img src="../static/resources/feature1.png" alt="Dynamiczne opowiadanie historii" />
          <h3>Dynamiczne opowiadanie historii</h3>
          <p>
            Nasza sztuczna inteligencja dostosowuje się do Twoich wyborów,
            tworząc unikalną i ewoluującą narrację.
          </p>
        </div>
        <div class="feature">
          <img src="../static/resources/feature2.png" alt="Tworzenie postaci" />
          <h3>RPG-owe tworzenie postaci</h3>
          <p>
            Stwórz swojego bohatera z bogatą historią, umiejętnościami i
            osobowością.
          </p>
        </div>
        <div class="feature">
          <img src="../static/resources/feature3.png" alt="Bogaty świat" />
          <h3>Wciągający świat</h3>
          <p>
            Odkrywaj rozległy i szczegółowy świat pełen historii, kultur i
            tajemnic.
          </p>
        </div>
      </div>
    </section>

    <section id="examples">
      <h2>Przykładowe lokacje</h2>
      <div class="example-list">
        <div class="example">
          <img src="../static/resources/example1.jpg" alt="Smocza Jama" />
          <h3>Smocza Jama</h3>
          <p>
            Staw czoła ognistym głębokościom i skonfrontuj się z przerażającym
            smokiem.
          </p>
        </div>
        <div class="example">
          <img src="../static/resources/example2.jpg" alt="Zaczarowany Las" />
          <h3>Zaczarowany Las</h3>
          <p>Przemierzaj mistyczny las pełen pradawnej magii.</p>
        </div>
      </div>
    </section>

    <section id="testimonials">
      <h2>Przykładowe postacie</h2>
      <div class="testimonial-list">
        <div class="testimonial">
            <div class="char-avatar">
                <img src="../static/resources/char-1.png" alt="Elfka Uzdrowicielka Lytha" />
            </div>
          <p>
            <b>Elfka Uzdrowicielka Lytha</b>, znana ze swojej mądrości i umiejętności
            leczenia, podróżuje po krainie, pomagając potrzebującym.
          </p>
        </div>
        <div class="testimonial">
          <div class="char-avatar">
              <img src="../static/resources/char-2.png" alt="Człowiek Wojownik Aric" />
          </div>
          <p>
            <b>Człowiek Wojownik Aric</b>, znany ze swojej siły i odwagi, walczy
            w obronie słabszych.
          </p>
        </div>
        <div class="testimonial">
          <div class="char-avatar">
              <img src="../static/resources/char-3.png" alt="Ork Xardas Thrain" />
          </div>
          <p>
            <b>Ork Xardas Thrain</b>, potężny czarnoksiężnik, włada mrocznymi
            zaklęciami, by chronić swoją ziemię.
          </p>
      </div>
    </section>
   </article>






      <button id="burger-toggle" class="button-icon button-base">☰</button>
      <aside id="web-side-panel" class="bg-panel p-10 br-2">
        <h2 class="text-center text-lg mb-5">Nawigacja</h2>
        <nav class="flex flex-col gap-4">
         <a
            href="/"
            class="button-base button-secondary text-center"
            >Strona główna</a
          >
          <a
            href="/chat"
            class="button-base button-primary text-center"
            >Czat</a
          >
          <a
            href="/settings"
            class="button-base button-primary text-center"
            >Ustawienia</a
          >
           <a
            href="/characters"
            class="button-base button-primary text-center"
            >Postacie</a
          >
        </nav>
      </aside>

          <footer id="app-footer">
      <p class="text-center text-sm mb-5">
        &copy; 2024 AI RP Chat. Wszelkie prawa zastrzeżone.
      </p>
    </footer>
    </main>

    <script>
document.addEventListener('DOMContentLoaded', function() {
  const ctaButton = document.querySelector('.cta-button');
  const homePage = document.querySelector('#home-page');

  if (ctaButton && homePage) {
    ctaButton.addEventListener('click', function(event) {
      event.preventDefault();

      // Oblicz cel przewinięcia w oparciu o wysokość kontenera #home-page
      const scrollTarget = homePage.clientHeight - 60;

      // Użyj metody scrollBy() na elemencie #home-page, a nie na oknie
      homePage.scrollBy({
        top: scrollTarget,
        behavior: 'smooth'
      });
    });
  }
});
    </script>

    <script src="/static/data/home.js"></script>
  </body>
</html>
